@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.wrap{
    width: 938px;
    margin: 0 auto;
}
.button__blue{
    display: inline-block;
    border: none;
    background-color: #00A4E5;
    text-decoration: none;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.button__blue:hover{
    background: #0277a5;
}


/* Header */
.header{
    height:768px;
    background: #ccc url("../images/hero.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #fff;
}

.logo__white{
    margin-top: 2.4rem;
    width: 6.56rem;
    height: 1.43rem;
    background: url("../images/projeco-logo.png") center/cover no-repeat;
}

.header__title{
    margin-top: 5.3rem;
    margin-left: 0.72rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.355rem;
    line-height: 4.5rem;
    padding-bottom: 0;
}

.header__description{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: 0.45px;
}

.header__bottom{
    margin-bottom: 4.48rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.69rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.22rem;
}

/* NAVIGATION */
.border__bottom{
    border: 1px solid #E6E6E6;
}

.logo{
    cursor: pointer;
    margin-left: -1px;
}

.navigation{
    height: 4.05rem;
    background-color: #fff;
    display: flex;
    align-items: center;    
    justify-content: space-between;
}


.wrap .nav__links li{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;    
    margin:0 19.7px;
}

.wrap .nav__links li a{
    text-transform: uppercase;
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 1.09091px;
    transition: .3s ease;
}

.wrap .nav__links li:last-child{
    margin: 0;
}

.wrap .nav__links li a.link__active{
    color: #00A4E5;
    font-weight: 700;
}

.wrap .nav__links li a:hover{
    color: #00A4E5;
}

/* Out Story */

.ourStory{
    padding: 3.45rem 0 7.45rem 0.3rem;
    text-align: center;
    color: #48555B;
}

.ourStory__caption{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 2.30625px;
    padding-bottom: 4rem;
    position: relative;
    transition: .3s;
    text-transform: uppercase;
}

.ourStory__caption::after{
    content: '';
    width: 3.125rem;
    height: 2px;
    background: #00A4E5;
    position: absolute;
    top: 2.125rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
}

.ourStory__caption:hover::after{
    width: 15%;
}

.ourStory__bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ourStory__bottom .ourStory__about{
    max-width: 25rem;
    text-align: left;
    margin-left: -4px;
}

.ourStory__bottom .ourStory__about .ourStory__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.7rem;
    margin-bottom: 1.875rem;
    letter-spacing: 0.1875px;
}

.ourStory__bottom .ourStory__about .ourStory__title .Konstruct{
    color: #16ACE8;
}

.ourStory__bottom .ourStory__about .ourStory__description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.81rem;
    line-height: 1.45rem;
    letter-spacing: 0.1875px;
}

.ourStory__bottom .ourStory__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5rem;
}

.ourStory__bottom .ourStory__list .ourStory__item{
    height: 14rem;
    width: 8.8rem;
    color: #fff;
    position: relative;
    text-align: left;
    transition: .2s ease-out;
    cursor: pointer;
}

.ourStory__bottom .ourStory__list .ourStory__item:hover{
    transform: scale(1.3);
}

.ourStory__bottom .ourStory__list .ourStory__item h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.82rem;
    letter-spacing: 0.1875px;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 15px;
}

.ourStory__bottom .ourStory__list .ourStory__item:nth-child(1){
    background: url("../images/Plan.png") center/cover no-repeat;
}
.ourStory__bottom .ourStory__list .ourStory__item:nth-child(2){
    background: url("../images/Manage.png") center/cover no-repeat;
}
.ourStory__bottom .ourStory__list .ourStory__item:nth-child(3){
    background: url("../images/Do.png") center/cover no-repeat;
}

/* Capabilities */

.capabilities__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
}

.capabilities__top .capabilities__title{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.56rem;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    align-self: flex-start;
}

.capabilities__top .capabilities__title::after{
    content: '';
    width: 3.125rem;
    height: 2px;
    background-color: #00A4E5;
    position: absolute;
    top: 2.125rem;
    left: 0%;
    transition: .3s;
}

.capabilities__top .capabilities__title:hover::after{
    width: 100%;
}

.capabilities__top .capabilities__description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.69rem;
    line-height: 1.19rem;
    max-width: 25rem;
    letter-spacing: 0.2px;
    margin-left: 7.3rem;
}

.capabilities__top .button__blue{
    padding: 0.69rem 1.8125rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    letter-spacing: 0.5px;
    color: #fff;
}

.capabilities__bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.2rem;
}

.capabilities__item{
    border: 1px solid #E6E6E6;
    max-width: 18.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capabilities__item .capabilities__box{
    margin: 2.55rem 1.375rem 0 1.4375rem;
}

.capabilities__item .capabilities__box img{
    padding-bottom: 1.3rem;
}

.capabilities__item .capabilities__box h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.426667px;
    margin-bottom: 0.8125rem;
}

.capabilities__item .capabilities__box p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1875px;
    font-size: 0.8125rem;
    line-height: 1.4375rem;
}

.capabilities__item .capabilities__box button{
    cursor: pointer;
    position: relative;
    padding: 0.625rem 1.3rem;
    background-color: transparent;
    border: 2px solid #696868;
    transition: .5s;
    transform: translateY(-3rem);
    opacity: 0;
    visibility: hidden;
    text-transform: uppercase;
    justify-self: center;
}

.capabilities__item:hover .capabilities__box button{
    transform: translateY(-1rem);
    opacity: 1;
    visibility: visible; 
}

.hover{
    transition: .4s ease-in-out;
}

.capabilities__item:hover .capabilities__box .hover{
    scale: 0.85;
    transform: translate(-1rem, -2rem);
}

.capabilities__item:hover .capabilities__box button:hover{
    background-color: #48555B;
    color: #E6E6E6;
}